

<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4" style="text-align: center;">
    <h1>支払いが完了しました！</h1>
  </div>
  <div class="col-xs-4"></div>
</div>
<br>





<progress class="progress is-small is-primary" max="100">60%</progress>
<progress class="progress is-danger" max="100">45%</progress>
<progress class="progress is-medium is-dark" max="100">45%</progress>
<progress class="progress is-small is-info" max="100">60%</progress>



<div class="bxslider">
  <div><%= image_tag "platter-2009590__480.jpg" %></div>
  <div><%= image_tag "vegetables-2977888__480.jpg" %></div>
  <div><%= image_tag "waffle-heart-2697904__480.jpg" %></div>
</div>



