<div class="page-header">
	<h1>お問い合わせ</h1>
</div>


<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4" style="text-align: center;">
		<h1>お問い合わせいただきありがとうございました。</h1>
	</div>
	<div class="col-xs-4"></div>
</div>